[submodule "ext/fasttree"]
	path = ext/fasttree
	url = https://github.com/the-miint/fasttree.git
	branch = v2.3.0-miint
[submodule "ext/prodigal"]
	path = ext/prodigal
	url = https://github.com/the-miint/prodigal.git
	branch = v2.6.4-miint
[submodule "ext/sortmerna"]
	path = ext/sortmerna
	url = git@github.com:the-miint/sortmerna.git
	branch = v4.4.0-miint
[submodule "ext/bowtie2"]
	path = ext/bowtie2
	url = https://github.com/the-miint/bowtie2.git
	branch = v2.5.5-miint
